{% extends "base.html" %}

{% block title %}Signup {% endblock %}

{% block content %}
<div>
    <h1>Signup</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" required placeholder="Username"/>
        <input type="email" name="email" required placeholder="Email"/>
        <input type="password" name="password" required placeholder="Password"/>
        <input type="password" name="confirm_password" required placeholder="Confirm Password"/>
        <button class="btn" type="submit">
            Signup
        </button>
    </form>
</div>
{% endblock %}
