{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="flex flex-col max-w-6xl mx-auto items-center min-h-[60vh] justify-center">
  <h1 class="text-5xl text-purple-900 font-semibold mb-4">About Us</h1>
  <div class="h-[1px] w-full bg-neutral-500 mb-10"></div>
  <div class="">
    <h1 class="text-3xl font-semibold mb-4">Altair Tech</h1>
    <p class="tracking-tight leading-5 text-neutral-500 text-md">
      Lorem ipsum odor amet, consectetuer adipiscing elit. Luctus quisque ullamcorper ipsum; elementum risus sagittis. Purus fringilla eros scelerisque elit fermentum tortor sem rutrum. Justo urna dolor magna montes morbi tincidunt ex fringilla nisl. Luctus ultrices duis ipsum posuere ligula nec. Aliquam ullamcorper quisque eleifend donec id mattis. Luctus fames condimentum integer eu eu. Cursus ad ante faucibus facilisi vulputate.
      Magnis interdum malesuada ad montes vehicula. Facilisi amet nam risus facilisi, habitasse quisque curae ante? Aliquet dui lectus orci; donec tristique nam. Justo commodo ad fermentum quam nullam torquent ullamcorper. Vel mus dis scelerisque inceptos netus mauris aenean porta. Taciti inceptos sit laoreet quam; nulla odio. Quisque parturient non sed pharetra suscipit. Tincidunt ornare imperdiet, litora netus volutpat pulvinar quisque aliquam. Efficitur euismod aliquam consequat odio; ornare commodo. Iaculis nostra nullam tristique aenean molestie commodo.
    </p>
  </div>
</div>

{% endblock %}
