{% extends "base_main.html" %}

<!-- Block Title -->
{% block title %} Change Password {% endblock %}

<!-- Block Content -->
{% block content %}
<div class="flex w-full justify-center items-center">
  <form
    method="post"
    class="flex flex-col p-10 rounded-md shadow-md gap-3 max-w-lg w-full my-12"
  >
    {% csrf_token %}
    <h2 class="text-4xl font-bold text-center mb-6 text-amber-700">
      Change Password
    </h2>

    <label for="old_password" class="text-lg">Old password:</label>
    <input
      type="password"
      name="old_password"
      id="old_password"
      placeholder="Old Password..."
      class="p-2 rounded-md mb-6 border border-gray-200 focus:border-amber-700 outline-none"
      required
    />

    <label for="password" class="text-lg">New Password:</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="New Password..."
      class="p-2 rounded-md mb-3 border border-gray-200 focus:border-amber-700 outline-none"
      required
    />
    <label for="confirm_password" class="text-lg">Confirm New Password:</label>
    <input
      type="password"
      name="confirm_password"
      id="confirm_password"
      placeholder="Confirm New Password..."
      class="p-2 rounded-md mb-3 border border-gray-200 focus:border-amber-700 outline-none"
      required
    />
    <button
      type="submit"
      class="bg-amber-600 py-2 text-lg mt-4 text-white rounded-md cursor-pointer hover:bg-amber-700"
    >
      Change Password
    </button>
  </form>
</div>
{% endblock %}
