<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>URL Shortener</title>
</head>
<body>
    <ul class="flashes ">
    {% for message in messages %}
        <li class="flash">
            {{message}}
        </li>
    {% endfor %}
    </ul>

    <form method="POST">
        {% csrf_token %}
        <h2>Enter Url to Shorten:</h2>
        <input type="url" placeholder="Url" name="redirect_url" required/>
        <button class="btn" type="submit">
            Shorten
        </button>
        {% if path %}
            <h2>Shortened URL:</h2>
            <h3>{{ path }}</h3>
        {% endif %}
    </form>
</body>
</html>