{% extends "base.html" %}

<!-- Block title  -->
{% block title %} Change Password {% endblock %}

<!-- Block content -->
{% block content %}
<div>
  <form method="POST">
    <h2>Change password.</h2>
    {% csrf_token %}
    <label for="old_password">Old Password</label>
    <input
      type="password"
      name="old_password"
      id="old_password"
      placeholder="Old Password..."
      class=""
      required
    />
    <label for="new_password">New Password</label>
    <input
      type="password"
      name="new_password"
      id="new_password"
      placeholder="New Password..."
      class=""
      required
    />
    <label for="confirm_password">Confirm Password</label>
    <input
      type="password"
      name="confirm_password"
      id="confirm_password"
      placeholder="Confirm Password..."
      class=""
      required
    />
    <button type="submit" class="">Change Password</button>
  </form>
</div>
{% endblock %}
