{% extends "base.html" %}

<!-- Title -->
{% block title %} About US{% endblock %}

<!-- Content -->
{% block content %}
<div class="max-w-4xl mx-auto px-3">
  <h1 class="text-4xl text-green-700 font-bold mb-2">Brainly</h1>
  <p class="text-lg mb-6 leading-6 text-center">
    Brainly is a platform where students can learn, share, and collaborate with
    each other. We're dedicated to fostering a safe, supportive, and inclusive
    learning environment.
  </p>
  <h2 class="text-4xl text-indigo-700 font-bold mb-2">Mission and Vision</h2>
  <p class="text-lg mb-6 leading-6 text-center">
    Our mission is to create a world where everyone feels comfortable expressing
    their thoughts, ideas, and learning experiences. We strive to make learning
    fun, engaging, and accessible to everyone.
  </p>
  <h2 class="text-4xl text-orange-700 font-bold mb-2">Team</h2>
  <p class="text-lg mb-6 leading-6 text-center">
    Brainly is built by a team of dedicated, passionate individuals who believe
    in creating a future where everyone can thrive. Our team includes experts in
    various fields, including technology, education, and social sciences.
  </p>
  <h3 class="text-4xl text-teal-700 font-bold">Follow us:</h3>
  <div class="flex gap-5">
    <a class="text-4xl text-blue-600" href="https://twitter.com/"
      ><i class="fa fa-twitter"></i
    ></a>
    <a class="text-4xl text-blue-500" href="https://web.telegram.org"
      ><i class="fa fa-telegram"></i
    ></a>
    <a class="text-4xl" href="https://github.com/MaverickPoly/"
      ><i class="fa fa-github"></i
    ></a>
    <a class="text-4xl text-pink-600" href="https://www.instagram.com/"
      ><i class="fa fa-instagram"></i
    ></a>
  </div>
</div>
{% endblock %}
